
@font-face {
    font-family: 'tt_normsbold';
    src: url('../assets/fonts/typetype_-_tt_norms_bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/typetype_-_tt_norms_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tt_normslight';
    src: url('../assets/fonts/typetype_-_tt_norms_light-webfont.woff2') format('woff2'),
         url('../assets/fonts/typetype_-_tt_norms_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tt_normsregular';
    src: url('../assets/fonts/typetype_-_tt_norms_regular-webfont.woff2') format('woff2'),
         url('../assets/fonts/typetype_-_tt_norms_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
  overflow: hidden;
  font-family: 'tt_normsregular', 'Arial';
  color: white;
}

h1, h2, h3, h4, a, button {
  font-family: 'tt_normsbold', 'Arial';
  text-decoration: none;
  line-height: 1.1;
}

header {
  box-shadow: 0px 0px 19px #80808080;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175px;
  z-index: 10;
  position: relative;
}

header img {
  height: 112px;
}


.white {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #164498;
    top: 0;
    z-index: 100;
}

/*===============================  HOME PAGE  ============================*/
.homepage {
  background-position: 0 bottom;
  background-size: cover;
  height: 1920px;
  overflow: hidden;
  width: 100%;
  -webkit-animation: slide 35s infinite ease-in-out;
}

@-webkit-keyframes slide {
  0%, 100%  { background-position:  0 bottom; }
    
  50% { background-position:  -1000px 0; }
}

h1 {
  font-size: 90px;
}

p.small {
  font-size: 38px;
  margin-bottom: -19px;
}

.welcome {
  display: none;
  padding-left: 100px;
  margin-top: 1000px;
  transition: margin 1s;
}

.menu {
  padding: 150px 0;
  background-color: #164498;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: none;
  margin-bottom: -400px;
  transition: margin 1s;
  z-index: 2;
}

.message {
  display: none;
  background-color: #00B140;
  width: 100%;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'tt_normsbold';
  padding: 38px 0;
  position: relative;
  top: 187px;
  -webkit-animation: banner 5s infinite ;
  z-index: 1;
}

.message p {
  margin: 0;
}

@-webkit-keyframes banner {
  30%, 50%, 70%  { -webkit-transform:  translateY(0); }
    
  0%, 100% { -webkit-transform:  translateY(130px); }
}


.menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.link {
  width: 80%;
  text-align: center;
  border: 2px solid white;
  color: white;
  font-size: 37px;
  padding: 42px 0;
  margin-bottom: 50px;
  position: relative;
  background-color: transparent;
  outline: none;
  transition: opacity 1s;
}

.link span {
  color: #00b339;
  font-size: 35px;
  margin-left: 20px;
}

.link:last-child {
  margin-bottom: 0;
}

.link img {
  right: 75px;
  position: absolute;
  top: 5px;
  top: 36%;
}

.link:nth-child(1) img{
  -webkit-animation: attract 3s infinite ease-in-out;
}

.link:nth-child(2) img {
  -webkit-animation: attract_two 3s infinite ease-in-out;
}

@-webkit-keyframes attract {
  0%, 20%, 40%  { -webkit-transform:  translateX(0); }
    
  10%, 30% { -webkit-transform:  translateX(25px); }
}

@-webkit-keyframes attract_two {
  60%, 80%, 100%  { -webkit-transform:  translateX(0); }
    
  70%, 90% { -webkit-transform:  translateX(25px); }
}

.clear {
  background-color: #164498;
  position: absolute;
  height: 0;
  width: 100%;
  transition: height 1s;
  bottom: 0;
}

.holder {
  background-color: #164498;
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  transition: margin 1s;
  z-index: 2;
}

.holder.close {
  margin-top: 1920px;
}

.pdf_slider .slick-slide {
  display: flex !important;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.pdf_slider .slick-prev, .pdf_slider .slick-next {
  height: 40px;
  width: 40px;
  opacity: 1 !important;
  color: #12409a;
}

.pdf_slider .slick-next:before {
    content:"" !important;
    position: absolute;
    top:0;
    right:90%;
    width:100%;
    height:100%;
    border-right: 2px solid white;
    border-top: 2px solid white;
    transform:rotate(45deg) ;
    opacity: 1 !important;
}

.pdf_slider .slick-prev:before {
    content:"" !important;
    position: absolute;
    top:0;
    right:-96%;
    width:100%;
    height:100%;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform:rotate(45deg) ;
    opacity: 1 !important;
}

.slick-prev:before, .slick-next:before {
  opacity: 1 !important;
}

.choices p {
    width: 100%;
    font-size: 38px;
    text-align: center;
    margin-bottom: 70px;
}

.choices {
  padding-top: 240px;
}

.choices img {
  width: 247px !important;
  margin: 22px;
}

.holder .fa-close, .send_pdf .fa-close, .grade .fa-close {
  position: absolute;
  color: white;
  font-size: 48px;
  padding: 30px;
  z-index: 2;
}

.holder .fa-close.top, .send_pdf .fa-close.top, .grade .fa-close.top {
  top: 200px;
  right: 28px;
}


.holder .fa-close.bottom, .send_pdf .fa-close.bottom, .grade .fa-close.bottom {
  bottom: 30px;
  right: 28px;
}

.thepdf {
  height: 100%;
  width: 100%;
  background-color: #e6e6e5;
  position: absolute;
  z-index: 1;
  text-align: center;
  padding-top: 100px;
}

.thepdf img {
  width: 950px;
  box-shadow: 0px 0px 15px #8080803d;
}

.thepdf .back, .inner_page .back, .read .back {
  background-color: #164498;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
  padding: 50px 42px;
}

.read .back {
  position: fixed;
  bottom: 0;
  top: auto;
}

.read .take_quiz {
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #00B140;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  padding: 50px 42px;
}

.thepdf .back {
  z-index: 2;
}

.thepdf .back {
  width: 92%;
}

.inner_page {
  position: relative;
}

.share_pdf {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 35px 0px;
  background: #12409a;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.learnmore .share_pdf div {
  top: -78%;
  margin: 0 225px;
  width: 400px;
  height: 400px;
}

.learnmore .share_pdf div img {
  margin-top: -111px;
}

.learnmore .share_pdf div:nth-child(1) {
  position: absolute;
  left: -13%;
}

.learnmore .share_pdf div:nth-child(2) {
  position: absolute;
  right: -13%;
}

.share_pdf div {
  position: absolute;
  top: -50%;
  /*transform: translateX(-50%);*/
  background: #0d3d9c;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share_pdf div img {
  height: 75px;
  -webkit-animation: scaler 2s infinite ease-in-out;
}

@-webkit-keyframes scaler {
  0%, 100%  { -webkit-transform:  scale(1); }
    
  50% { -webkit-transform:  scale(.9); }
}

.share_pdf p {
  font-size: 33px;
  font-weight: bold;
  margin-top: 50px;
  position: relative;
  margin-bottom: 17px;
}

.send_pdf, .success {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #0d3d9c;
  z-index: 2;
  top: 0;
  display: none;
}

.success {
  background-color: #00b140;
}

.success > div {
  display: flex;
  justify-content: center;  
  align-items: center;
  z-index: 4;
  height: 100%;
}

.success p {
  font-family: 'tt_normsbold';
  font-size: 64px;
}

.send_pdf > div {
  display: flex;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  padding-top: 350px;
}

.send_pdf > div p {
  padding-left: 100px;
  font-size: 42px;
}

.send_pdf > div img {
  text-align: left;
  margin: auto;
  margin-top: 26px;
  width: 300px;
  margin-bottom: 30px;
}

.send_pdf > div > div {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.send_pdf > div > div p {
  padding-left: 0;
  font-family: 'tt_normsbold';
  margin-top: 100px;
  text-align: center;
  margin-bottom: 100px;
  padding: 0 50px;
  background: #0d3d9c;
  position: relative;
  z-index: 3;
  font-size: 59px;
}

.send_pdf .line {
  position: absolute;
  width: 900px;
  left: 50%;
  transform: translateX(-50%);
  top: 138px;
  border-bottom: 2px solid white;
}

.send_pdf input {
  width: 73%;
  margin-left: 100px;
  padding: 30px 50px;
  margin-right: auto;
  margin-top: 25px;
  color: black;
  font-size: 37px;
  outline: none;
}

.send_pdf input[type='submit'] {
  background: #00b140;
  color: white;
  font-family: 'tt_normsbold';
  width: 82%;
}




/*survey*/
.inner_page {
  padding-top: 190px;
  padding-left: 100px;
}

.survey_count {
  position: absolute;
  left: -179px;
}

.question {
  margin-top: 100px;
  margin-bottom: 200px;
  font-size: 60px;
  font-family: 'tt_normsbold';
  max-width: 850px;
}

.questions .survey {
  display: none;
}

.questions .survey:first-child {
  display: block;
}

.answer p {
  position: relative;
  margin-bottom: 30px;
  font-size: 33px;
  border: 2px solid white;
  padding: 27px 40px;
  max-width: 800px;
  transition: background .3s, padding .3s, color .3s;
}

.answer .answer_btn {
  position: absolute;
  left: -150px;
  margin: 0;
  background: yellow;
  width: 60px !important;
  height: 60px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -6px;
  color: white;
}

.answer p.chosen {
  color: #164498;
  background-color: white;
}

.answer:nth-child(1) .answer_btn {
  background: #c99700;
}

.answer:nth-child(2) .answer_btn {
  background: #00bdf2;
}

.answer:nth-child(3) .answer_btn {
  background: #00b0b9;
}

.answer:nth-child(4) .answer_btn {
  background: #84bd00;
}

.answer:nth-child(5) .answer_btn {
  background: #c4d600;
}

.answer:nth-child(6) .answer_btn {
  background: #ffcd00;
}

.answer:nth-child(7) .answer_btn {
  background: #ed8b00;
}

.answer:nth-child(8) .answer_btn {
  background: #c6007e;
}

.answer:nth-child(9) .answer_btn {
  background: #6b3077;
}

.answer:nth-child(10) .answer_btn {
  background: #007377;
}

.answer:nth-child(11) .answer_btn {
  background: #c99700;
}

.survey .button {
  background: #00b140;
  color: white;
  font-family: 'tt_normsbold';
  width: 878px;
  padding: 30px 50px;
  font-size: 41px;
  margin-top: 50px;
}

.complete {
  display: none;
  font-size: 100px;
  font-family: 'tt_normsbold';
}

#send_pdf {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.learnmore_page .links p:first-child {
  font-size: 66px;
  max-width: 850px;
  margin-top: 115px;
  line-height: 1.2;
  font-family: 'tt_normsbold';
}

.learnmore_page p {
  font-size: 39px;
  max-width: 850px;
}

#loader {
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  width: auto;
  top: 576px;
}

embed {
  position: relative;
  z-index: 1;
}

.quiz_page {
  margin-top: 100px;
}

.quiz_page p {
  max-width: 850px;
  font-size: 35px;
}

.quiz_page p.title, .grade p.title {
  font-size: 55px;
  font-family: 'tt_normsbold';
}

span.green {
  color: #00B140;
  font-family: 'tt_normsbold';
  display: block;
  margin-bottom: 100px;
  margin-top: 43px;
  font-size: 40px;
}



/* quiz section */
.read, .grade {
  display: none;
  position: absolute;
  bottom: 0;
  height: 0;
  transition: height 1s;
  width: 100%;
  background-color: #e6e6e5;
  z-index: 3;
  overflow-y: auto;
}

.grade {
  z-index: 4;
  background-color: #164498;
}

.read .article, .grade .article {
  padding: 84px 0;
}

.read .article {
  display: none;
  padding-bottom: 600px;
}

.grade_holder {
  padding: 84px 100px;
  padding-top: 250px
}

.grade_holder p strong {
  font-family: 'tt_normsbold';
}

.read .article h1 {
  font-size: 63px;
  background: #164498;
  color: white;
  padding: 100px;
  margin-bottom: 0;
}

.read .article .txt {
  padding: 40px 100px;
  color: black;
  font-size: 35px;
}

.txt li {
  color: #164498;
  margin-bottom: 20px;
}

.txt li span {
  color: black;
}

.txt_white {
  background-color: white;
}

.txt h3 {
  font-size: 44px;
  color: #164498;
}

.txt img {
  margin-bottom: 50px;
  width: 100%;
}

.grade p {
  font-size: 35px;
}

.grade p.title {
  font-size: 55px;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
    margin-top: 130px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #e6e6e5; /* Grey background */
    outline: none; /* Remove outline */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 60px; /* Set a specific slider handle width */
    border-radius: 100%;
    height: 60px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 60px; /* Set a specific slider handle width */
    border-radius: 100%;
    height: 60px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.score {
    text-align: center;
    font-size: 60px !important;
    color: #47af4c;
}

#the_grade input {
  width: 88%;
  font-size: 44px;
  padding: 39px 50px;
  margin-top: 131px;
}


.quiz_submit {
  color: white;
  background: #47af4c;
  border: none;
  width: 100% !important;
  margin-top: 30px !important;
  font-family: 'tt_normsbold';
}

.quiz_complete {
  position: fixed;
  z-index: 11;
  background-color: #00B140;
  width: 100%;
  height: 100%;
  top: 0;
  display: none;
}

.quiz_complete div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.error {
  color: white;
  font-size: 35px;
  text-align: center;
  display: none;
}

.quiz_complete p {
  font-size: 41px;
  padding: 0 150px;
  text-align: left;
}

.quiz_complete p:first-child {
  font-size: 85px;
  font-family: 'tt_normsbold';
}

.rate_again {
  color: white;
  border: 2px solid white;
  padding: 30px 50px;
  background: transparent;
  font-size: 40px;
  width: 73%;
  margin-top: 60px;
}


/**/